body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#box {
    width: 20rem;
    background-color: purple;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}